#view-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#track-album-img {
  max-width: 80%;
}

#view-track a {
  text-decoration: none;
  color: var(--colorTextPrimary);
}

dl {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

dt {
  /* font-style: italic; */
}

dd {
  margin-inline-start: 0.75rem;
  font-weight: bold;
}

/* Heavily inspired by W3Schools */
#snackbar {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 75%;
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  bottom: 30px; /* 30px from the bottom*/
  left: 50%;
  transform: translate(-50%, 0);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.info {
  background-color: wheat;
  color: black;
}
#snackbar.success {
  background-color: lightgreen;
  color: black;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}


@media (min-width: 480px) {
  #track-album-img {
    width: 70%;
  }
}

@media (min-width: 768px) {
  #track-album-img {
    width: 60%;
  }

}

@media (min-width: 1024px) {
} 
