#view-track{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#track-album-img{
  width: 80%;
}

#view-track a{
  text-decoration: none;
  color: var(--colorTextPrimary);
}

dl {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

dt {
  /* font-style: italic; */
}

dd {
  margin-inline-start: 0.75rem;
  font-weight: bold;
}

.add-to-cart-button-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 1rem;
  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #fff;
  font-weight: bold;
  color: var(--colorTextPrimary);
  text-decoration: none;
  padding: 6px 0;
}

/* NOT POSSIBLE ON MOBILE*/
.add-to-cart-button-mobile:hover {
  border: 1px solid #bbb;
}
